:root {
  --orange-100: #FE7500;
  --orange-80: #F29131;
  --orange-30: #FFB271;

  --yellow-20: #FFEEDC;

  --font-color: #666666;
  --gray-60: #E0E0E033;
  --grey-40: #D5D5D5; 
  --grey-30: #EAEAEA; 
  
  --white: #ffffff;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: raleway, sans-serif;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}